@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@1,100&family=Quicksand:wght@300&display=swap');

body {
    background: linear-gradient(to right, #0c054e, #1900ff, #0c054e);
}

h1 {
    font: bolder;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borda{
    border:2px solid #120969;
    border-radius: 10px;
}
